{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="password-change-container">
    <h2 class="password-change-title">Change Your Password</h2>
    <form method="post" class="password-change-form">
        {% csrf_token %}
        
        <div class="password-change-group">
            <label for="{{ form.old_password.id_for_label }}" class="password-change-label">Old Password</label>
            {{ form.old_password }}
        </div>
        
        <div class="password-change-group">
            <label for="{{ form.new_password1.id_for_label }}" class="password-change-label">New Password</label>
            {{ form.new_password1 }}
        </div>
        
        <div class="password-change-group">
            <label for="{{ form.new_password2.id_for_label }}" class="password-change-label">Confirm New Password</label>
            {{ form.new_password2 }}
        </div>
        
        <button type="submit" class="password-change-btn">Change Password</button>
    </form>
</div>
{% endblock %}
